@{
    ViewData["Title"] = "Dashboard";
}


    <div class="menu-icon" onclick="toggleMenu()">
        &#9776;
    </div>

<div class="menu" id="menu">
    <a asp-controller="Account" asp-action="EditProfile">Profil</a>
    <a asp-controller="Account" asp-action="NutrientSelect">Besin Girişi</a>
    <a asp-controller="Profile" asp-action="ProfileEditing">Günlük-Haftalık Raporlar</a>
    <a asp-controller="Account" asp-action="ProfileUpdating">Bildirimler</a>
</div>
<div class="content">
    <h1>Hoş Geldiniz</h1>
</div>

@section Scripts {
    <script src="~/js/site.js"></script>
    <script src="~/css/site.css"></script>
}
