@model KaloriWebApplication.Models.Concrete.User

@{
    ViewData["Title"] = "Login";}
    
<style>
    .card-header {
        background-color: cadetblue !important;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    }

    .text-success {
        color: cadetblue !important; 
    }

    .btn-success {
        background-color: cadetblue; 
        border-color: cadetblue; 
    }

    .text-success a {
        color: cadetblue !important;
        border-color: cadetblue;
        margin-top: 2rem; 
    }

    .card {
        border-radius: 20px; 
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
        overflow: hidden; 
    }

    .card-body {
        padding: 2rem;
    }

    .card-footer {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;

    }





</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-header bg-success text-white">
                    <h2 class="text-center">Login</h2>
                </div>
                <div class="card-body">
                    <form asp-action="Login" method="post">
                        <div class="form-group">
                            <label asp-for="Username" class="text-success">Username</label>
                            <input asp-for="Username" class="form-control" />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="text-success">Password</label>
                            <input asp-for="Password" type="password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-success btn-block">Login</button>
                        <div class="text-danger mt-2">
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        </div>
                    </form>
                </div>
                <div class="card-footer bg-light">
                    <p class="text-center">Don't have an account? <a asp-controller="Account" asp-action="Register" class="text-success">Register here</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="~/css/site.css"></script>
    }
}
