@model KaloriWebApplication.Models.Concrete.User

@{
    ViewData["Title"] = "Register";
}

<style>
    .card-header {
        background-color: cadetblue !important;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .text-success {
        color: cadetblue !important;
    }

    .btn-success {
        background-color: cadetblue;
        border-color: cadetblue;
    }

    .text-success a {
        color: cadetblue !important;
    }

    .card-footer {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
</style>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-success text-white">
                    <h2 class="text-center">Register</h2>
                </div>
                <div class="card-body">
                    <form asp-action="Register" method="post">
                        <div class="form-group">
                            <label asp-for="Username" class="text-success">Username</label>
                            <input asp-for="Username" class="form-control" />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="text-success">Password</label>
                            <input asp-for="Password" type="password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Eposta" class="text-success">Email</label>
                            <input asp-for="Eposta" class="form-control" type="email" />
                            <span asp-validation-for="Eposta" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-success btn-block">Register</button>
                    </form>
                    <form asp-action="TestCompleteProfile" method="get" class="mt-2">
                        <button type="submit" class="btn btn-secondary btn-block">Test Complete Profile</button>
                    </form>
                </div>
                <div class="card-footer bg-light">
                    <p class="text-center">Already have an account? <a asp-controller="Account" asp-action="Login" class="text-success">Login here</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
