

.menu {
    display: none; 
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

    .menu a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .menu a:hover {
            background-color: #f1f1f1;
        }

.navbar {
    background-color: white; /* Navbar background color is set to white */
}

.menu-icon {
    color: black; 
    cursor: pointer; 
}

    .menu-icon:hover {
        color: #258cfb; 
    }

.show-menu {
    display: block; 
}


.card-body{
    background-color:white
}
