/* Önceki CSS kodlarý buraya gelecek */

.menu {
    display: none; /* Baþlangýçta menü gizli olsun */
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

    .menu a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .menu a:hover {
            background-color: #f1f1f1;
        }

.navbar {
    background-color: white; /* Navbar arka plan rengi beyaz olarak ayarlandý */
}

.menu-icon {
    color: black; /* Menü simgesi rengi siyah olarak ayarlandý */
    cursor: pointer; /* Mouse'un üstüne geldiðinde el simgesi göster */
}

    .menu-icon:hover {
        color: #258cfb; /* Menü simgesi rengi maviye döndürüldü */
    }

.show-menu {
    display: block; /* show-menu sýnýfý eklendiðinde menüyü göster */
}
