@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KaloriWebApplication</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KaloriWebApplication.styles.css" asp-append-version="true" />

    <style>
        .navbar-brand {
            color: #FFFFFF; /* White text */
            font-weight: bold;
        }

        .navbar-nav .nav-link {
            color: #FFFFFF; /* White text */
        }

            .navbar-nav .nav-link:hover {
                color: #FFFFFF; /* White text */
                background-color: #AF8F6F; 
            }

        .navbar-toggler-icon {
            background-color: #FFFFFF; /* White menu icon */
        }



        body {
            background: linear-gradient(rgba(47, 23, 15, 0.5), rgba(47, 23, 15, 0.5)), url("/lib/colorful.jpeg");
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
        }

        .container-fluid {
            background-color: rgba(255, 255, 255, 0.5); /* White, semi-transparent background */
            padding: 20px;
        }

        .logout-link {
            color: #FFFFFF;
            text-decoration: none;
        }

            .logout-link:hover {
                text-decoration: underline;
            }

        #Login, #Register, #Logout {
            background-color: cadetblue;
            border: 1px solid;
            border-radius: 10px;
            color: white;
            padding: 5px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin-right: 5px;
        }

            #Login a:hover, #Register a:hover, #Logout button:hover {
                background-color: cadetblue; 
                color: white; 
            }
    </style>
</head>
<body id="fig">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">KaloriWebApplication</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav ms-auto">
                        @if (HttpContextAccessor.HttpContext.Session.GetInt32("UserID") != null)
                        {
                            <li class="nav-item" id="Logout">
                                <form class="form-inline" asp-controller="Account" asp-action="Logout" method="post">
                                    <button type="submit" class="btn btn-custom text-dark">Logout</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item" id="Login">
                                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                            <li class="nav-item" id="Register">
                                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
