@model KaloriWebApplication.Models.Concrete.fotoUpload

@{
    ViewData["Title"] = "photoUpload";
    Layout = "~/Views/Shared/_dashlayout.cshtml";
}

<h2>Fotoğraf Yükle</h2>

<form asp-action="photoUpload" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="formFile" class="form-label">Fotoğraf Seç</label>
        <input class="form-control" type="file" id="formFile" name="image" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Seçenekler</label>
        <div>
            <input type="radio" id=" ="option1" name="SelectedRadio" value="ImageRecognition" required>
            <label for="option1">Yemek Tanımlama</label>
        </div>
        <div>
            <input type="radio" id="option2" name="SelectedRadio" value="AzureOCR" required>
			<label for="option2">Besin Değerleri Tanımlama (Azure Computer Vision)</label
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Yükle</button>
</form>


@if (ViewBag.ImagePath != null)
{
    <form id="CaloriesForm" method="post" action=@Url.Action("SaveUserCalories", "Photo")>
        <div class="form-group">
            <label for="baseCalories">Calories(kcal per serving):</label>
            <input type="text" id="baseCalories" class="form-control" name="baseCalories" value="@ViewBag.Calories" min="0" max="9999" oninput="calculateTotalCalories()">
        </div>
        <div class="form-group">
            <label for="totalConsumption">Total consumption(g):</label>
            <input type="text" id="totalConsumption" class="form-control" name="totalConsumption" value="100" min="0" max="9999" oninput="calculateTotalCalories()">
        </div>
        <div class="form-group">
            <label for="totalCalories">Total calories to add:</label>
            <input type="text" id="totalCalories" class="form-control" name="totalCalories" readonly>
        </div>
        <button type="submit" class="btn btn-primary">Save Calories</button>
    </form>


    <div>
        <h3>Yüklenen Fotoğraf:</h3>
        <img src="@ViewBag.ImagePath" alt="Yüklenen Fotoğraf" style="max-width: 100%; height: auto;" />
        <h3>Seçilen operasyon: @ViewBag.SelectedRadio</h3>
        @if (Model.OCRText != null && Model.OCRText.Any())
		{
            <h3>OCR Çıktısı:</h3>
            @foreach(var item in Model.OCRText){
			{
				<p>@item</p>
			}
            }
        }
        else
        {
        <p>OCR Çıktısı Bulunamadı.</p>
        }
    </div>
}

<script>
    function calculateTotalCalories() {
        var baseCalories = parseFloat(document.getElementById('baseCalories').value) || 0;
        var totalConsumption = parseFloat(document.getElementById('totalConsumption').value) || 0;
        var totalCalories = baseCalories * totalConsumption;
        console.log("Base Calories: " + baseCalories);
        console.log("Total Consumption: " + totalConsumption);
        console.log("Total Calories: " + totalCalories);
        document.getElementById('totalCalories').value = totalCalories;
    }
</script>